<body class="home-callout">
    <div class="container text-left-indent"> 
        <h1>It's an about page</h1>
    </div>
    
    <div class="container text-center"> 
        <h3>At DevMatch we create connections between developers and investors, 
        giving them the opportunity to create meaningful advances in the development 
        of today's technology</h3>
    </div>

</body>