<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="Contact Request">
            <h1>You have received a DevMatch message from
            <%= "#{ @name } at #{ @email }." %></h1>
            <p><%= @body %></p>
        </div>
    </body>
</html>