<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="Container">
            <div class="Contact-Request">
                <h3>You have received a DevMatch message from
                <%= "#{ @name } at #{ @email }." %></h3>
                <p><%= @body %></p>
            </div>
        </div>
    </body>
</html>